# EFI Launcher config
timeout = 10
default = 0

[[entry]]
title = "Memtest86+"
path  = "\\tools\\memtest86.efi"
icon  = "M"

[[entry]]
title = "GRUB -> System"
path  = "\\tools\\grubx64.efi"
icon  = "L"

[[entry]]
title = "Windows Boot Manager"
path  = "\\tools\\bootmgfw.efi"
icon  = "W"

[[entry]]
title = "UEFI Shell"
path  = "\\tools\\shellx64.efi"
icon  = "$"
